<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/8-places.css') }}">
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <!-- Header Content -->
        </div>
    </header>

    <section class="filters" id="filters">
        <div class="container">
            <div class="filters">
                <h2 class="title">States</h2>
                <div class="states-filter">
                    <!-- States Content -->
                </div>

                <h2 class="title">Cities</h2>
                <div class="cities-filter">
                    <!-- Cities Content -->
                </div>

                <h2 class="title">Amenities</h2>
                <div class="amenities-filter">
                    <!-- Amenities Content -->
                </div>
            </div>
        </div>
    </section>

    <section class="places" id="places">
        <div class="container">
            <div class="places">
                <!-- Places Content -->
            </div>
        </div>
    </section>

    <footer class="footer" id="footer">
        <div class="container">
            <!-- Footer Content -->
        </div>
    </footer>
</body>
</html>

